#darkmode-button {
    display: flex;
    padding: 20px 0;
    /* border: 1px solid white; */
}
#darkmode-button div {
    display: flex;
    align-items: center;
}
.icon {
    color: var(--text-color);
    opacity: 50%;
    /* border: 2px dashed yellow; */
}
.icon-active {
    opacity: 100%;
}
/* Button Slider */
.toggle-switch {
    position: relative;
    width: 60px;
    height: 25px;
    margin: 0 20px;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #ccc;
}
input:checked + .slider:before {
    transform: translateX(35px);
}
/* Dark mode specific styling */
body.dark-mode .slider {
    background-color: #4caf50;
}
body.dark-mode .slider:before {
    transform: translateX(30px);
}
