.logout-btn {
    opacity: 60%;
}
.small-btn {
    background-color: var(--text-color);
    color: var(--background-color);
    opacity: 60%;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
}
