#chatlist {
    flex: 1;
    margin-top: 40px;
    overflow: auto;
}
#chatlist div {
    padding: 20px 25px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
    overflow: hidden;
}
#chatlist div:hover {
    background-color: var(--text-color);
    transition: 0.4s;
}
#chatlist div:hover .sender-name,
#chatlist div:hover .chat-preview {
    color: var(--background-color); /* Change to your desired hover color */
    transition: 0.4s;
}
#messages-tag {
    font-size: 22px;
    text-align: left;
    margin: 20px 0;
}
.chatlist-photo {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}
.sender-name {
    color: var(--text-color);
}
.chat-preview {
    color: var(--text-color);
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
