#message-input {
    width: 100%;
    padding: 20px;
    border-top: 1px solid var(--border-color);
    position: relative;
}
#message-input textarea {
    font-size: 20px;
    height: 100px;
    width: 100%;
    background-color: transparent;
}
#message-input button {
    position: absolute;
    bottom: 39px;
    right: 10px;
    border: none;
}
