* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
:root {
    --background-color: #faf9f6;
    --text-color: #702963;
    --form-links-color: rgb(63, 63, 162);
    --error-message: #e33c3c;
    --border-color: rgb(203, 184, 184);
}

.form-links {
    text-decoration: underline;
    color: var(--form-links-color);
    cursor: pointer;
    padding-left: 5px;
}
.inline-block {
    display: inline-block;
}
.side-panel,
.main-panel {
    padding-top: 80px;
}
textarea {
    font-size: 16px;
    color: var(--text-color);
    padding: 10px;
    border: none;
}
button {
    background-color: transparent;
}
h1 {
    font-size: 25px;
    color: var(--text-color);
    text-align: center;
}
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}
p {
    color: var(--text-color);
}

@media screen and (max-width: 1079px) {
    #login-form,
    #signup-form {
        border: none;
    }
    #home {
        width: 90vw;
    }
    .main-panel {
        width: 100%;
    }
    .side-panel {
        width: 100%;
        background-color: var(--background-color);
        position: absolute;
        right: 100%;
        z-index: 100;
        transition: 0.2s;
        border: none;
        padding: 70px 40px 50px 40px;
    }
    .menu-icon {
        display: flex;
    }
    .me,
    .notme {
        width: 100%;
    }
    .open-menu {
        right: 0;
    }
    .close-menu {
        right: 100%;
    }
}

@media (min-width: 1080px) and (max-width: 2000px) {
    #home {
        width: 95vw;
    }
    .main-panel {
        width: 60%;
    }
    .side-panel {
        width: 40%;
    }
}
